html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #353535;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  background-color: #454545;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menuIcon {
  display: none;
}
span,
.active {
  color: #00ff00;
}
.about-image-container {
  width: 100%;
}
.top-image-container {
  width: 80%;
  margin: auto;
}
.top-image-container img {
  width: 70%;
  margin: auto;
}
.top-content h3 {
  /* font-family: "Open Sans"; */
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}
.top-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.top-content button,
.card form button,
.blog button,
.NewsLetter form button {
  background-color: #009c00;
}
.services {
  background-color: #f6f4f4;
  position: relative;
  overflow: hidden;
}
.services h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 84px;
}
.services .content,
.portfolio,
.blog,
.NewsLetter .container {
  width: 70%;
  margin: auto;
}
.services .card {
  width: 90%;
  margin: auto;
}
.services .card p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  width: 76%;
  margin: auto;
}
.services-design {
  position: absolute;
  width: 184px;
  height: 200px;
  background: #009c00;
}
.services-design.a {
  left: -10%;
  top: -78px;
  transform: rotate(122.58deg);
}
.services-design.b {
  top: 87%;
  right: -10%;
  bottom: -100px;
  transform: rotate(28.08deg);
}
.container.skills {
  width: 70%;
  margin: auto;
}
.container.skills h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.container.skills h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}
.skills .card {
  background-color: #009c00;
  min-height: calc(200px - 20px);
  border: none !important;
}
img.skills-image {
  width: 100px !important;
}
.Bootstrap,
.JavaScript,
.NextJS,
.JQuery {
  background-color: white !important;
  color: #009c00 !important;
}
.Bootstrap p,
.JavaScript p,
.NextJS p,
.JQuery p {
  color: black !important;
}
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(140, 139, 139, 0.3)),
    url(../public/background.png), no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 50px;
}
.contact header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
.contact header h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.contact .card {
  width: 50%;
  margin: auto;
}
.contact .card form label {
  font-weight: 600;
}
.contact .card form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid #353535;
  border-radius: 5px;
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(140, 139, 139, 0.3)),
    url(../public/background.png), no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  padding-bottom: 50px;
}
.about .content p,
.portfolio p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.portfolio a {
  font-size: 20px;
  color: #009c00;
  text-decoration: underline;
}
.drop-down {
  position: relative;
}
.drop-down .drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  top: -10px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(234, 234, 234, 0.2);
  z-index: 1;
  border: 5px solid #009c00;
  font-size: 18px;
}
.drop-down:hover .drop-content {
  display: block;
}
.blog h4 {
  font-size: 28px;
}
.blog a {
  float: right;
  color: #009c00;
}
.NewsLetter {
  background-color: #f6f4f4;
}
.NewsLetter h2 {
  font-size: 30px;
  font-weight: 600;
}
.NewsLetter form {
  width: 100%;
}
.NewsLetter form input {
  width: 80%;
  padding: 20px;
}
.NewsLetter form button {
  width: 20%;
  padding: 22px;
}
.blog-post .blog {
  width: 85% !important;
}
.blog-post header h1 {
  font-size: 50px;
  width: 80%;
}
.blog-post h2 {
  font-size: 30px;
}
.blog-post p {
  font-size: 25px;
}
.blog-post button {
  background-color: dodgerblue;
  padding: 3px 5px;
}
.example-code {
  overflow: auto;
}
.example-code pre code {
  display: flex;
  flex-direction: column;
}

footer .header-section {
  border-right: 4px solid #fff;
}
footer li img {
  width: 20px;
  margin-right: 5px;
}
footer li {
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
  }
  .navbar ul {
    display: none !important;
    transition: all 5s;
  }
  ul.menu-active {
    display: block !important;
    position: absolute;
    top: 80px;
    left: 10px;
    background-color: #454545;
    width: 95%;
    margin-left: 0 !important;
  }
  ul.menu-active li {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .top-image-container,
  .about-image-container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .top-image-container img,
  .about-image-container img {
    width: 100%;
    margin: auto;
  }
  .top-content h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
  }
  .top-content p {
    font-size: 17px;
    line-height: 26px;
  }
  .services-design.a {
    left: -130px;
    top: -78px;
    transform: rotate(122.58deg);
  }
  .services-design.b {
    top: 94%;
    right: -130px;
    bottom: -100px;
    transform: rotate(28.08deg);
  }
  .skills .card {
    min-height: 200px;
  }
  .contact header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
  }
  .contact header h4 {
    font-size: 22px;
  }
  .contact .card,
  .portfolio,
  .blog,
  .NewsLetter .container {
    width: 98%;
    margin: auto;
  }
  .NewsLetter h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .NewsLetter form div {
    display: flex;
    flex-direction: column;
  }
  .NewsLetter form input,
  .NewsLetter form button {
    width: 100%;
  }
  .blog-post .blog {
    width: 98% !important;
  }
  .blog-post header h1 {
    font-size: 30px;
    width: 98%;
    margin-left: 10px;
  }
  .blog-post header p {
    margin-left: 10px;
  }
  .blog-post h2 {
    font-size: 24px;
  }
  .blog-post p {
    font-size: 18px;
  }
  .example-code {
    width: 100%;
  }
  footer .header-section {
    border-right: none;
  }
  footer .header-section .div {
    min-height: 5vh !important;
    margin-top: 30px;
  }
  footer ul {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}
